ul, ul li {
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

span {
  color: #959595;
}

.octocat {
  border-bottom: 1px solid #C4C4C4;
  margin: 10px;
}

.octocat img {
  border: 1px solid #C4C4C4;
  height: 250px;
  width: 250px;
  margin:  0px;
}

.image-number {
  float: left;
  font-size: small;
  color: #C4C4C4;
}

.image-caption {
  float: right;
  font-size: small;
}

.authors {
  float: right;
  margin: 0;
  padding-left: 7px;
}

.authors img {
  height: 15px;
  width: 15px;
  margin: 0;
  padding: 0;
}

